* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Hanuman';

  }
  html,body {
    color:#000000;
    margin:0px;
    font-size:100%;
  }
  .trytopnav {
    height:40px;
    overflow:hidden;
    min-width:380px;
    position:absolute;
    width:100%;
    top:80px;
  
    background-color:rgba(205, 233, 223, 0.842);
  }
 
  #dragbar{
    position:absolute;
    cursor: col-resize;
    z-index:3;
    padding:5px;
  }
  #shield {
    display:none;
    top:0;
    left:0;
    width:100%;
    position:absolute;
    height:100%;
    z-index:4;
  }
  #framesize {
    font-family: 'Montserrat', 'Source Sans Pro', sans-serif;
    font-size: 14px;
  }
  #container {
    background-color:rgba(205, 233, 223, 0.842);
    width:100%;
    overflow:auto;
    position:absolute;
    top:125px;
  
    bottom:0;
    height:auto;
  }
  #textarea{
    overflow-x: auto;
  }
  #textareacontainer, #iframecontainer {
    float:left;
    height:100%;
    width:50%;
  }
  #textarea, #iframe {
    height:100%;
    width:100%;
    padding-bottom:10px;
    padding-top:1px;
  }
  #textarea {
    padding-left:10px;
    padding-right:5px;
    border: none;
    border-inline: none;  
  }
  #iframe {
    padding-left:5px;
    padding-right:10px;  
  }
  #textareawrapper {
    width:100%;
    height:100%;
    background-color: #ffffff;
    position:relative;
    box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  #iframewrapper {
    width:100%;
    height:100%;
    -webkit-overflow-scrolling: touch;
    background-color: #ffffff;
    box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  #textareaCode {
    background-color: #ffffff;
    font-family: consolas,Menlo,"courier new",monospace;
    font-size:15px;
    height:100%;
    width:100%;
    padding:8px;
    resize: none;
    border:none;
    line-height:normal;    
  }
  .CodeMirror.cm-s-default {
    line-height:normal;
    padding: 4px;
    height:100%;
    width:100%;
  }
  #iframeResult, #iframeSource {
    background-color: #ffffff;
    height:100%;
    width:100%;  
  }
  
  #textarea.horizontal{
    height:100%;
    padding-left:10px;
    padding-right:10px;
  }
  #iframe.horizontal{
    height:100%;
    padding-right:10px;
    padding-bottom:10px;
    padding-left:10px;  
  }
  #container.horizontal{
    min-height:200px;
    margin-left:0;
  }
  #tryitLeaderboard {
    overflow:hidden;
    text-align:center;
    margin-top:5px;
    height:90px;
  }
  
  @media screen and (max-width: 727px) {
    .trytopnav {top:70px;}
    #container {top:116px;}
    #breadcrumb {display:none;}
    #tryhome  {display:block;}
  }
  @media screen and (max-width: 467px) {
    .trytopnav {top:60px;}
    #container {top:106px;}
    .w3-dropdown-content {width:100%}
  }
  @media only screen and (max-device-width: 768px) {
    #iframewrapper {overflow: auto;}
    #container     {min-width:310px;}
    .stack         {display:none;}
    #tryhome       {display:block;}
    .trytopnav     {min-width:310px;}  
  }
  .loader {
      border: 6px solid #f3f3f3;
      border-top: 6px solid #3498db;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      animation: spin 2s linear infinite;
  }
  #saveLoader {
      margin:20px;
  }
  
  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }
  #iframewrapper {
      
  }
  
  
  .trytopnav {
    height:48px!important;
  }
  