html, body {
    font-family: 'Hanuman';
    font-size: 15px;
    line-height: 1.5;
    overflow-x: hidden;
}
/* Navbar style */

/* Scroll */

div.scrollmenu {
   background-color: #838383;
   overflow-x: auto;
   white-space: nowrap;
   -webkit-overflow-scrolling: touch;
   -ms-overflow-style: -ms-autohiding-scrollbar;
}

div.scrollmenu a {
   display: inline-block;
   color: rgb(253, 253, 253);
   text-align: center;
   padding: 14px;
   text-decoration: none;
   margin-left: -5px;
}

div.scrollmenu a:hover {
  background-color: rgba(5, 173, 111, 0.514);
  color: rgb(255, 255, 255); 
}
div.scrollmenu::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  div.scrollmenu::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.623); 
  }
  div.scrollmenu::-webkit-scrollbar-thumb {
    background: rgba(179, 178, 178, 0.781);  
  }
  div.scrollmenu::-webkit-scrollbar-thumb:hover {
    background: rgb(185, 185, 185); 
  }
  .scrollmenu .active {
    background-color: #04AA6D!important;
    color: #ffffff;
}
/* End */

/* Sticky navbar style */
#ipsLayout_header {
    transition: margin 0.25s ease;
    overflow: hidden;
    position: fixed;
    z-index: 2;
    right: 0;
    left: 0;
    top: -50px;
  }
@media (max-width: 425px){
    #ipsLayout_header {
        top: -62px;
      }
}
/* End sticky navbar style */

/* Start button scroll top style */
#myBtn {
    display: none;
    position: fixed;
    bottom: 100px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(6, 168, 109);
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: rgb(4,123,79);
  }
/* End */

/* End navbar style */

/* Side navigation */

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 290px;
    position: fixed;
    top: 0;
    left: -290px;
    height: 100vh;
    z-index: 999;
    background: rgb(239,248,245);
    color: rgb(0, 0, 0);
    transition: all 0.3s;
    overflow-y: scroll;
    /* box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2); */
}

#sidebar.active {
    left: 0;
}
.btn-left{
    cursor: pointer;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: rgba(5, 173, 111, 0.342);
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: rgba(5, 173, 111, 0.274);
    color: #000000;
}

/* .overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
} */
/* .overlay.active {
    display: block;
    opacity: 1;
} */

#sidebar .sidebar-header {
    padding: 20px;
    background: rgb(199, 206, 203);
}
#sidebar .actions{
    background-color: rgba(5, 173, 111, 0.274);
}

#sidebar ul.components {
    padding: 20px 0;
    /* border-bottom: 1px solid #47748b; */
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 7px;
    font-size: 1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #000000;
    background: rgba(145, 144, 144, 0.219);
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    /* background: #6d7fcc; */
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* End */

/* Lesson card style */
.some-text p{
    font-size: 17px;
}
.lesson-list{
    min-width: 50px;
    padding: 20px;
    /* margin-left: 100px; */
}
.lesson-list2{
    width: 100%;
    padding: 20px;
}
.shadow-card{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}
.card-width{
    margin-top: 140px;
}
.lesson-header{
    margin: 50px 0 50px 0;
}
.lesson-header a img{
    float: left;
    width: 160px;
    margin-right: 25px;
}
.math-header h1{
    padding: 5px;
    font-size: 40px;
    float: left !important;
}
.math-list{
    margin-top: 30px;
    padding: 20px;
    float: left !important;
    border-bottom: 1px solid rgb(194, 194, 194);
}
.math-list a{
    font-size: 20px;
    padding: 20px;
    margin: 0 32px 0 0;
    text-decoration: none;
    color: rgb(73, 73, 73);
    
}
.math-list a:hover{
    color: rgb(5,173,111);
}
.math-list .action{
    color: rgb(5,173,111);
    border-bottom: 5px solid rgb(5,173,111);
    border-radius: 5px;
}
.row-lesson{
    margin-top: -80px;
}
.inside-card-body{
    background-color: rgb(247,247,247);
    padding: 5px 0 5px 0;
}
.inside-card-body a{
    text-decoration: none;
    display: list-item;
    list-style: none;
    padding: 10px;
    color: rgb(73, 73, 73);
    /* margin-left: 10px; */
    /* border: 1px solid #000000; */
}
.inside-card-body .actions{
    color: rgb(5,173,111);
    border-left: 5px solid rgb(5,173,111);
    border-radius: 5px;
}
.inside-card-body a:hover{
    background-color: rgb(215, 250, 238);
}
.lesson-list-one{
    background-color: rgb(247,247,247);
}
.lesson-list-one ul li{
    list-style: none;
    padding: 8px;
    margin: 0 0 0 -50px;
}
.lesson-list-one ul li i{
    font-size: 20px;
    color: rgb(199, 199, 199);
    margin-right: 15px;
}
.lesson-list-one ul li a{
    text-decoration: none;
    color: rgb(73, 73, 73);
}
.lesson-list-one ul li a:hover{
    color: rgb(5,173,111);
}
.dropdown-list-menu a{
    text-decoration: none;
}
.dropdown-links a{
    padding: 3px;
}

@media (max-width: 992px) {
    
    .lesson-header a img{
        float: left;
        width: 145px;
        margin-right: 25px;
    }
    .math-header h1{
        /* padding: 1px; */
        font-size: 39px;
    }
    .math-list{
        margin-top: 16px;
    }

    .math-list a{
        font-size: 18px;
        margin: 0 5px 0 0;
    }
    
    .math-list i{
        display: none;
    }
    .join-our-letter{
        border: none;
    }
}
@media (max-width: 992px) {

    .hide-card-lesson{
        display: none;
    }
    
    
}

@media (max-width: 767px) {

    
    .lesson-header a img{
        width: 135px;
        margin-right: 20px;
    }
    .math-header h1{
        /* padding: 1px; */
        font-size: 30px;
    }
    .math-list{
        margin-top: 16px;
    }
    .math-list a{
        font-size: 15px;
        margin: 0 4px 0 0;
    }
    
}
@media (max-width: 567px) {

    
    .lesson-header a img{
        width: 130px;
        margin-right: 20px;
    }
    .math-header h1{
        font-size: 29px;
    }
    .math-list{
        margin-top: 16px;
    }
    .math-list a{
        font-size: 15px;
        margin: 0 3px 0 0;
    }
    
}
@media (max-width: 559px) {

    
    .lesson-header a img{
        width: 125px;
        margin-right: 20px;
    }
    .math-header h1{
        font-size: 28px;
    }
    .math-list{
        margin-top: 14px;
    }
    .math-list a{
        font-size: 15px;
        margin: 0 2px 0 0;
    }
    
}
@media (max-width: 551px) {

    
    .lesson-header a img{
        width: 120px;
        margin-right: 20px;
    }
    .math-header h1{
        font-size: 27px;
    }
    .math-list{
        margin-top: 10px;
    }
    /* .math-list a{
        font-size: 15px;
        margin: 0 2px 0 0;
    } */
    
}
@media (max-width: 467px) {

    
    .lesson-header a img{
        width: 120px;
        margin-right: 20px;
    }
    .math-header h1{
        font-size: 25px;
    }
    .math-list{
        margin-top: 10px;
    }
    
    
}
@media (max-width: 448px) {

    
    .lesson-header a img{
        width: 120px;
        margin-right: 20px;
    }
    .math-header h1{
        font-size: 24px;
    }
    .math-list{
        margin-top: 10px;
    }
    
    
}
@media (max-width: 438px) {

    
    .lesson-header a img{
        width: 120px;
        margin-right: 20px;
    }
    .math-header h1{
        font-size: 23px;
    }
    .math-list{
        margin-top: 10px;
    }
    
    
}

@media (max-width: 425px) {

    
    .lesson-header a img{
        width: 115px;
        margin-right: 20px;
    }
    .math-header h1{
        font-size: 22px;
    }
    .math-list{
        margin-top: 10px;
    }
    .math-list a{
        font-size: 15px;
        margin: 0 2px 0 0;
    }
    
}
@media (max-width: 406px) {

    
    .lesson-header a img{
        width: 80px;
        margin-right: 20px;
    }
    .math-header h1{
        font-size: 19px;
    }
    .math-list{
        margin-top: 10px;
    }
    .math-list a{
        font-size: 14px;
        margin: 0 2px 0 0;
    }
    
}
@media (max-width: 408px) {

    .lesson-header a img{
        width: 79px;
        margin-right: 20px;
    }
    .math-list{
        width: 101%;
    }
    .math-header h1{
        font-size: 18px;
    }
    .math-list a{
        font-size: 14px;
        margin: 0 2px 0 0;
    }
}
@media (max-width: 398px) {

    
    .lesson-header a img{
        width: 80px;
        margin-right: 20px;
    }
    .math-header h1{
        font-size: 19px;
    }
    
    .math-list a{
        font-size: 13px;
        margin: 0 2px 0 0;
    }
    
}
@media (max-width: 386px) {

    
    .lesson-header a img{
        width: 75px;
        margin-right: 20px;
    }
    .math-header h1{
        font-size: 18px;
    }
    
    .math-list a{
        font-size: 13px;
        margin: 0 2px 0 0;
    }
    
}
@media (max-width: 385px) {

    .lesson-header a img{
        width: 79px;
        margin-right: 20px;
    }
    .math-list{
        width: 105%;
    }
    .math-header h1{
        font-size: 18px;
    }
    .math-list a{
        font-size: 14px;
        margin: 0 2px 0 0;
    }
}
@media (max-width: 383px) {

    .lesson-header a img{
        width: 79px;
        margin-right: 20px;
    }
    .math-list{
        width: 106%;
    }
    .math-header h1{
        font-size: 18px;
    }
    .math-list a{
        font-size: 14px;
        margin: 0 2px 0 0;
    }
}
@media (max-width: 380px) {

    .lesson-header a img{
        width: 79px;
        margin-right: 20px;
    }
    .math-list{
        width: 107%;
    }
    .math-header h1{
        font-size: 18px;
    }
    .math-list a{
        font-size: 14px;
        margin: 0 2px 0 0;
    }
}
@media (max-width: 377px) {

    
    .lesson-header a img{
        width: 75px;
        margin-right: 20px;
    }
    .math-header h1{
        font-size: 18px;
    }
    
    .math-list a{
        font-size: 14px;
        margin: 0 -10px 0 0;
    }
    
}
@media (max-width: 376px) {

    
    .lesson-header a img{
        width: 75px;
        margin-right: 20px;
    }
    .math-header h1{
        font-size: 18px;
    }
    
    .math-list a{
        font-size: 14px;
        margin: 0 -10px 0 0;
    }
    
}
@media (max-width: 375px) {

    
    .lesson-header a img{
        width: 80px;
        margin-right: 20px;
    }
    .math-header h1{
        font-size: 18px;
    }
    .math-list{
        margin-top: 10px;
    }
    .math-list a{
        font-size: 15px;
        margin: 0 -10px 0 0;
    }
    
}
@media (max-width: 373px) {

    
    .lesson-header a img{
        width: 75px;
        margin-right: 20px;
    }
    .math-header h1{
        font-size: 18px;
    }
    
    .math-list a{
        font-size: 12px;
        margin: 0 -10px 0 0;
    }
    
}
@media (max-width: 362px) {

    
    .lesson-header a img{
        width: 75px;
        margin-right: 20px;
    }
    .math-header h1{
        font-size: 18px;
    }
    
    .math-list a{
        font-size: 14px;
        margin: 0 -12px 0 0;
    }
    
}
@media (max-width: 356px) {

    
    .lesson-header a img{
        width: 75px;
        margin-right: 20px;
    }
    .math-header h1{
        font-size: 18px;
    }
    
    .math-list a{
        font-size: 14px;
        margin: 0 -14px 0 0;
    }
    
}
@media (max-width: 350px) {

    
    .lesson-header a img{
        width: 75px;
        margin-right: 20px;
    }
    .math-header h1{
        font-size: 18px;
    }
    
    .math-list a{
        font-size: 14px;
        margin: 0 -16px 0 0;
    }
    
}

@media (max-width: 344px) {

    
    .lesson-header a img{
        width: 75px;
        margin-right: 20px;
    }
    .math-header h1{
        font-size: 18px;
    }
    
    .math-list a{
        font-size: 14px;
        margin: 0 -18px 0 0;
    }
    
}


@media (max-width: 338px) {

    
    .lesson-header a img{
        width: 70px;
        margin-right: 20px;
    }
    .math-header h1{
        font-size: 17px;
    }
    .math-list{
        width: 100%;
    }
    
    .math-list a{
        font-size: 14px;
        margin: 0 -21px 0 -10px;
    }
    
}
@media (max-width: 320px) {

    
    .lesson-header a img{
        width: 80px;
        margin-right: 20px;
    }
    .math-header h1{
        font-size: 15px;
    }
    .math-list{
        width: 110%;
    }
    .math-list a{
        font-size: 13px;
        margin: 0 -15px 0 0;
    }
    
}

/* Some text under the lesson list */
/* hr {
    border: 0;
    border-bottom: 1px solid #d3dce6;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 90%;
    float: left;
}
.editor-contents h2 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 12px;
}
@media (min-width: 768px)
h2 {
    font-size: 32px;
    line-height: 40px;
}
.editor-contents ul {
    color: rgba(37,38,94,.7);
    padding-left: 24px;
    margin-bottom: 24px;
    list-style-type: disc;
}

.editor-contents ul li, .editor-contents ol li {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 12px;
} */
/* Some text under the lesson list */


/* Style for footer */

/* .bg-footer{
    background-color: ;
} */
.footer__link-area {
    margin: 24px 0;
}
@media (min-width: 992px){
    .footer__link-area {
        margin: 0;
    }
    .join-our-letter .input-group{
        max-width: 290px;
    }
   
}
@media (min-width: 993px){
   
    #sidebarCollapse{
        display: none;
    }
}
@media (max-width: 575px){
    .join-our-letter .input-group{
        max-width: 300px;
    }
}
.footer__link-area__title {
    color: #f9fafc;
    font-weight: 500;
    margin-bottom: 12px;
}
h4 {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
}
.footer__links__nodes {
    margin-bottom: 12px;
}
.footer__links__nodes .link-node {
    color: #d3dce6;
    font-size: 14px;
    line-height: 20px;
}
.footer__link-area ul li{
    list-style: none;
}
.footer__link-area ul li a{
    text-decoration: none;
}
.footer__link-area ul li a:hover{
    color: white;
}
.footer-menu{
    margin: 150px 0 0 0;
}
.join-our-letter img{
    margin: 0 0 20px 0;
}
.join-our-letter .join-letter{
    margin: 0 0 20px 0;
}
.input-group__control {
    width: 1%;
    flex: 1 1 auto;
    height: 48px;
    padding: 12px 16px;
    /* border: 1px solid #d3dce6; */
    border-right: 0;
    border-radius: 4px 0 0 4px!important;
}
/* .join-our-letter .input-group{
    max-width: 100%;
} */
/* .join-our-letter .input-group{
    min-width: 75%;
} */
.join-our-letter .input-group .input-group-append button{
    z-index: 1;
}
.join-our-letter button{
    background-color: rgb(5,173,111);
    color: white;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
}
.join-our-letter button:hover{
    background-color: rgb(21, 85, 61);
}

.footer__end {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    margin-top: 16px;
    border-top: 1px solid rgba(251,251,251,.2);
    width: 100%;
}

@media (min-width: 768px){
    .footer__end {
        margin-top: 80px;
    }
    
}

@media (min-width: 768px){
    .footer__end {
        justify-content: space-between;
    }
}


.footer__end .copyright-text {
    font-size: 14px;
    line-height: 20px;
    color: #f9fafc;
    margin-bottom: 24px;
    width: 100%;
    text-align: center;
}
@media (min-width: 768px){
    .footer__end .copyright-text {
        width: auto;
        margin-bottom: 0;
    }
}

.footer .social-icons__links {
    max-width: 16px;
    padding: 0 8px;
}
.social-icons a{
    padding: 10px;
    font-size: 15px;
    color: white;
}
.social-icons a:hover{
    color: rgb(5,173,111);
}


/* First lesson style */
.first_lesson a{
    width: 100%;
}
.lesson-list-one ul .actives{
    color: rgb(5,173,111);
}
.nextprev a {
    font-size: 18px;
    font-family: 'Hanuman';
    padding-left: 19px;
    padding-right: 19px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    text-decoration: none;
}
.next-left {
    float: left!important;
}
.next-right {
    float: right!important;
}
.nextprev a.next-right{
    background-color: #04AA6D;
    color: #ffffff;
    border-color: #04AA6D;
}
.nextprev a.next-left{
    background-color: #04AA6D;
    color: #ffffff;
    border-color: #04AA6D;
}
.nextprev a.next-right:hover{
    background-color: #058b5a;
    color: #ffffff;
    border-color: #058b5a;
}
.nextprev a.next-left:hover{
    background-color: #058b5a;
    color: #ffffff;
    border-color: #058b5a;
}
.next-btn{
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.lesson_texts h1{
    font-size: 35px;
}
.lesson_texts p{
    font-size: 17px;
}
.lesson_texts h2{
    font-size: 25px;
    margin-top: 50px;
}
.next-clear:before{
    content: "";
    display: table;
    clear: both;
}
.next-clear:after{
    content: "";
    display: table;
    clear: both;
}
@media (max-width: 992px){

    .all_small_lesson_card{
        display: none;
    }

}
.lesson_texts ul li{
    font-size: 17px;
}
.example-code {
    width: auto;
    background-color: #fff;
    padding: 8px 12px;
    border-left: 4px solid #058b5a;
    word-wrap: break-word;
}
.example-btn{
    background-color: #04AA6D;
    color: #ffffff;
    border-radius: 5px;
    font-size: 17px;
    font-family: 'Hanuman';
    padding: 6px 18px;
    /* float: right!important; */
}
.example-btn:hover{
    background-color: #058b5a;
    color: #ffffff;
    border-color: #058b5a;
}

.nextprev a.next-left{
    background-color: #04AA6D;
    color: #ffffff;
    border-color: #04AA6D;
}
.nextprev a.next-right:hover{
    background-color: #058b5a;
    color: #ffffff;
    border-color: #058b5a;
}
.bg-example a{
    text-decoration: none;
    /* float: right; */
}
.bg-example {
    padding: 10px 20px;
    margin: 24px -20px;
    background-color: #E7E9EB;
    border-radius: 5px;
    padding: 1em 16px;
    margin: 20px 0;
}
.bg-note{
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 16px 32px;
    background-color: rgba(255, 0, 0, 0.144);
}
.bg-note2{
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 16px 32px;
    background-color: #058b5a1e;
}
.example_image img{
    max-width: 99%;
}
.notepad_img img{
    max-width: 99%;
}
@media (max-width: 425px){
    .url_google{
        font-size: 15px;
    }
}
@media (max-width: 320px){

    .lesson_texts h1{
        font-size: 20px;
    }
    .url_google{
        font-size: 13px;
    }
}
@media (max-width: 375px){

    .lesson_texts h1{
        font-size: 24px;
    }
}
@media (max-width: 425px){

    .lesson_texts h1{
        font-size: 27px;
    }
}







