html, body {
    font-family: Hanuman;
    font-size: 15px;
    line-height: 1.5;
}
.school-name a{
    margin: 20px 0 0 0;
}
.school-name a{
    color:#05ad6f;
}
.school-name a:hover{
    color:#12d990;
}

.close-sign a{
    font-size: 50px;
    text-decoration: none;
    color: #000000;
}
.close-sign a:hover{
    color: #9a9a9a;
}
.close-sign span{
    float: right;
}
.body-of-card{
    border-radius: 10px;
    transform: translateY(-5%);
}
.name-email{
    float: right;
}
.login-card input{
    padding: 25px;
}
.button-login{
    padding: 20px;
}
.button-signup{
    padding: 20px;
}
.button-login a{
    padding: 15px 151px 15px 151px;
    border-radius:30px;
    background-color:#05ad6f;
    font-size: 15px;
    color: white;
}
.button-login a:hover{
    background-color:#06d88a;
    color: white;
}
.signup a{
    text-decoration: none;
    color: #46d6a6;
}
.signup-password a{
    color: black;
    text-decoration: none;
}
.signup-password a:hover{
    color:#63d8d8;
}
.button-signup a{
    padding: 15px 120px 15px 120px;
    border-radius:30px;
    background-color:#05ad6f;
    font-size: 15px;
    color: white;
}
.button-signup a:hover{
    background-color:#06d88a;
    color: white;
}




/*
.signup-up{
    margin-top: -70px;
}
*/
._GkV5F {
    margin: 14px 0 0;
    display: block;
    -webkit-columns: 2;
    column-count: 2;
}
._2AaYC {
    font-size: 14px;
    font-family: Source Sans Pro;
}
._Fvxg7 {
    color: #282a35;
    list-style-type: none;
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
._2AaYC svg {
    position: relative;
    top: 2px;
    margin: 0 7px 2px 0;
    vertical-align: baseline;
}
svg[Attributes Style] {
    width: 8;
    height: 8;
    fill: none;
}
user agent stylesheet
svg:not(:root) {
    overflow: hidden;
}


._n0KNS {
    margin-top: 18px;
}
._ivO0a, ._n0KNS {
   font-family: Hanuman;
    font-weight: 400;
    font-size: 13px;
}
._n0KNS a {
    font-weight: 700;
    color: #282a35;
    text-decoration: none;
}
._n0KNS a:hover {
    color:#63d8d8;
    text-decoration: none;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}


@media (max-width: 600px){
    
    .school-name a{
        
        display: none;
    }
    .body-of-card{
        border: none;
    }
    
}
@media (max-width: 992px){
    
    .school-name a{
        
        display: none;
    }
    
}

@media only screen and (max-width: 320px){
    
    .button-login .login-bg{
        padding: 10px 50px 10px 50px;
        font-size: 15px;
    }
    .button-login a{
        margin: 0 -5rem 0 -5rem;
    }
    .button-signup a{
        padding: 15px 100px 15px 100px;
        font-size: 15px;
    }
    .name-email{
        font-size: 13px;
    }
    
}
@media (max-width: 375px){
    
    .button-login .login-bg{
        padding: 10px 90px 10px 90px;
        font-size: 15px;
    }
    .button-signup .login-bg{
        padding: 10px 90px 10px 90px;
        font-size: 15px;
    }
    .button-signup a{
        margin: 0 -5rem 0 -5rem;
    }
    ._GkV5F li{
        font-size: 12px;
    }
    
}
@media (max-width: 425px){
    
    .button-login a{
        padding: 15px 110px 15px 110px;
        font-size: 15px;
    }
    .button-signup a{
        padding: 15px 100px 15px 100px;
        font-size: 15px;
    }
    
}

