
@media (max-width: 600px){
     .small-bg-hight{
        height: 220rem;
    }

    .learn-math{
        margin: 0 -3rem 0 -3rem;
    }
    .card-center {
        display: none!important;
    }
    
    .height-of-container1{
        min-height: 300px;
    }
    .height-of-container{
        min-height: 300px;
    }
    h1{
        font-size: 38px;
    }
    .lesson-center{
        margin-top: 7rem;
    }
    .big-card-bg-he .card-round{
        margin: -10px -50px -15px -50px;
    }

    .big-card-bg .card-round{
        margin: -40px -50px 5px -50px;
    }


    h2{
        font-size: 33px;
    }
    h5{
        font-size: 13px;
        margin-top: 50px;
    }
    .small-card-bg h2 {
        padding: 2rem;

    }
    .small-card-bg .w3-round {
        margin: -15px -55px -30px -50px;
        padding: 0!important;

    }
    .all-little-small-card{
        padding-top: 1rem;
    }
    .button-exersice{
        margin-top: -3rem;
    }
    h4{
        font-size: 18px;
    }

    .bgcode-center{
        height: 50rem;
    }
    .footer-medium {
        font-size: 14px!important;
    }
    .button-tryit{
        margin-top: -40rem;
    }




}
@media (max-width: 992px){
    
  .lesson-center{
      margin-left: 2rem;
      margin-right: 2rem;
}
    .learn-math{
        margin: 0 -3rem 0 -3rem;
    }
    .card-center{
        padding-left: -10rem;
        right: 0rem;
    }
    .small-bg-hight{
        height: 220rem;
    }
    .full-card{
        display: block;
    }
    .fullcard-inside{
        min-width: 100%;
    }
    .space{
        bottom: 3rem;

    }
    .bo-card{
        min-width: 90%;
        bottom: 5rem;
    }
    .big-card-bg{
        top: -1rem;
    }

    .form-inline{
        width: 110%;
    }
    
  
}
/* @media (min-width: 992px){

    
    

} */
@media (max-width: 1004px){
    
    .form-inline{
        width: 110%;
    }
}
@media (max-width: 1024px){
    
     .bo-card{
        width: 81%;
    }

}
@media (max-width: 575px){
    
    .search-fine{
        width: 70%;
    }
}

