html, body {
    font-family: Hanuman;
    font-size: 15px;
    line-height: 1.5;
}
/* Nav bar style */
.navbar{
    z-index: 999;
}

.nav-card-2{
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.nav-bar-item{
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}

.nav-padding-16{
    padding-top: 10px!important;
    padding-bottom: 10px!important;
}
.nav-padding-24{
    padding-top: 10px!important;
    padding-bottom: 10px!important;
}
.align-items-start a{
    color: white;
}
.height-of-container1{
    min-height: 530px;
}
.height-of-container{
    min-height: 530px;
}
.navbar button{
    border: none;
}
.navbar-collapse ul li a:hover{
    color: rgb(5,173,111);
}
.navbar-collapse ul li{
    margin-top: 0;
}

.menu span:hover{
    color: rgb(5,173,111);
}
.dropdown-toggle:hover{
    color: rgb(5,173,111);
}
.menu-actions a:hover{
    background-color: rgba(239, 248, 245, 0.459);
}
.menu-actions a{
    color: white!important;
}
/* .bg-collapse2{
    background-color: rgb(204, 204, 204);
    position: absolute;
    z-index: 1;
    top: 79px;
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 100%;
    min-height: 200px;
    transition: height 300s ease;
    top: 100%;
    transition: left 300ms ease-in-out;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
} */

/* .link {
    background: none;
    border: none;
    text-decoration: none;
    color: #777;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 0;
  }
  
  .dropdown.active > .link,
  .link:hover {
    color: black;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-menu {
    position: absolute;
    left: 0;
    top: calc(100% + .25rem);
    top: 41px;
    border: none;
    background-color: white;
    padding: 10px;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transform: translateX(-23px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  }
  
  .dropdown.active > .link + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
  
  .information-grid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;

  }
  
  .dropdown-links {
    display: flex;
    flex-direction: column;
    gap: .25rem;
  } 




.navbar-toggler.collapsed ~ .navbar-collapse {
    transition: top 300ms ease-in-out;
} */

@media (max-width: 992px) {

/* body{
    overflow-x: hidden;
} */
.bg-collapse{
    background-color: rgb(204, 204, 204);
    position: absolute;
    z-index: 1;
    top: 79px;
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 100%;
    min-height: 200px;
    transition: height 0s ease;
    top: 100%;
    transition: left 0ms ease-in-out;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

/* .close-sign span{
    font-size: 50px;
    text-decoration: none;
    color: #000000;
}
.close-sign a:hover{
    color: #9a9a9a;
}
.close-sign span{
    float: right;
} */

.math-lesson-header.lesson-header a img{
    width: 10px;
    padding: -10px;
    /* margin-right: 40px; */
}
.join-our-letter input[placeholder="Enter Email Address*"]{
    font-size: 11px;
}

.join-our-letter{
    border: 1px solid white;
}

}
@media (min-width: 992px) {

    .inside-menus{
        transform: translateX(250px);
    }
    .inside-menus2{
        transform: translateX(200px);
    }

    .bg-collapse{
        background-color: rgb(248,249,250);
        position:relative;
        z-index: 1;
        /* width: 0%; */
        min-height: 0px;
        box-shadow: none;
    }
    
    
    
    }

/* Search bar style */
   
/* Search bar style */

#loginactioncontainer {
    margin-left: 0;
}
.login-right{
    float: right!important;
}
#mypagediv {
    display: none;
}
#loginbtn {
    text-align: center;
    width: 85px;
    background-color: #05ad6f;
    color: white;
    border-radius: 25px;
    font-size: 14px;
    line-height: 2;
    display: none;
    text-decoration: none;
}
#signbtn {
    text-align: center;
    width: 85px;
    background-color: none;
    color: black;
    border-radius: 25px;
    font-size: 14px;
    line-height: 2;
    display: none;
    text-decoration: none;
}
#signbtn:hover {
    background-color: #05ad6f;
    color: white;
    
}
#loginbtn:hover {

    background-color: #047b4f;
    
}

/* Body style */
#learnbutton{
    text-align: center;
    width: 85px;
    background-color: #05ad6f;
    color: white;
    border-radius: 25px;
    font-size: 16px;
    line-height: 2;
    display: none;
    text-decoration: none;
}
#learnbutton:hover{
    background-color: #069b64;
}
#learnbutton2{
    text-align: center;
    width: 85px;
    background-color: #969696;
    color: white;
    border-radius: 25px;
    font-size: 16px;
    line-height: 2;
    display: none;
    text-decoration: none;
}
#learnbutton2:hover{
    background-color: #efefef;
    color: black;
    border: 1px solid #000000;
}
#learnbutton3{
    text-align: center;
    width: 85px;
    background-color: #ededed;
    color: #020202;
    border-radius: 25px;
    font-size: 16px;
    line-height: 2;
    display: none;
    text-decoration: none;
}
#learnbutton3:hover{
    background-color: #222222;
    color: #ffffff;
    border: 1px solid #ffffff;
}
.math-bu{
    padding: 10px 60px;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size:45px;
    font-weight:700;
}
p{
    font-size: 17px;
    margin-top: 40px;
    margin-bottom: 25px;
}
.lesson-center{
    margin-top: 120px;
}
.bg-math{
    background-color: #cafceb;
}
.card-center{
    margin-top: 80px;
    width: 560px;
    height: 350px;
    border-radius: 10px;
    background-color: #efefef;

}
/*
.bigcard-move-to-left{
    margin-left: 150px;
}
*/
.small-card-bg{
    margin-right: 50px;
}

.card-inside-card{
    height: 230px;
    margin: 0 20px 0 20px;
}
.bg-office{
    background-color: #f8dd6a;
}
.big-card{
    margin-top: 80px;
}
.big-card-bg{
    background-color: rgba(0, 255, 255, 0);
}
.big-card-bg-he{
    background-color: rgba(0, 255, 255, 0);
}
.big-card-bg2{
     background-color: #f8dd6a;
}
.card-round{
    border-radius: 5px;
}
#learnbutton4{
    text-align: center;
    width: 85px;
    background-color: #575656;
    color: #ffffff;
    border-radius: 25px;
    font-size: 16px;
    line-height: 2;
    display: none;
    text-decoration: none;
}
#learnbutton4:hover{
    background-color: #222222;
    color: #ffffff;
    border: 1px solid #ffffff;
}
.ws-pink{
    background-color: #e2c960;
    color: black!important;

}
.ws-pink:hover{
    background-color: #f8dd6a;
}

.ws-pink1{
    background-color: #5adede;
    color: black!important;

}
.ws-pink1:hover{
    background-color: aqua;
}

.ws-pink2{
    background-color: #64ddb4;
    color: black!important;

}
.ws-pink2:hover{
    background-color: #5ef7c3;
}

.ws-pink3{
    background-color: #badd59;
    color: black!important;

}
.ws-pink3:hover{
    background-color: #ddff7f;
}

.ws-pink4{
    background-color: #de93f8;
    color: black!important;

}
.ws-pink4:hover{
    background-color: #e4acf8;
}

.ws-pink5{
    background-color: #b7e3d4;
    color: black!important;

}
.ws-pink5:hover{
    background-color: #cafceb;
}

.ws-pink6{
    background-color: #c9de81;
    color: black!important;

}
.ws-pink6:hover{
    background-color: #e3fc8c;
}

.ws-pink7{
    background-color: #ad44db;
    color: black!important;

}
.ws-pink7:hover{
   background-color: #d275fa;
}


.tutbuttons a {
    text-decoration: none;
}
.tutbuttons a div {
    opacity: 0.9;
}
.w3-round, .w3-round-medium {
    border-radius: 5px;
}



.exersice-size-button {
    padding: 70px 50px;
    font-size: 35px;
    width: 87%;
    opacity: 0.97;
}
.ws-green {
    background-color: #04AA6D!important;
    color: white!important;
}
.ws-yellow {
    background-color: #efe073!important;
    color: black!important;
}
.ex-qu-half{
    float: left;
    width: 100%;
    padding: 0 8px;
}
.ex-qu-half a{
        text-decoration: none;
    color: black!important;
}
.ex-card-button{
    border: none;
    display: inline-block;
    padding: 50px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
p {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    font-size: 15px;
}
.hover-green:hover{
        background-color: #07bc7a!important;
      color:#000000!important;
}

.hover-yellow:hover {
      background-color:#fff293!important;
      color:black!important;
}

#bgcodeimg {
      background: #282A35 url('../images/code.png') no-repeat fixed center;
}
.bgcode-center{
    text-align: center!important;
} 
.bgcode-padding-64{
    padding-top: 64px!important;
    padding-bottom: 64px!important;
}

.w3-white, .w3-hover-white:hover {
    color: #000!important;
    background-color: #fff!important;
}
.w3-center {
    text-align: center!important;
}
#howto_padding {
    padding: 48px 24px 80px 24px;
}
.small-bg-hight{
   height: 1250px;
}
.how-to{
    margin-top: 100px;
}
/* Start button scroll top style */
#myBtn {
    display: none;
    position: fixed;
    bottom: 100px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(6, 168, 109);
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: rgb(4,123,79);
  }
/* End */

/* Footer */
/* .exersic-card-bg{
    
} */
.footer-bg{
    background-color: aqua;
}
.footer-margin-top {
    margin-top: 16px!important;
}
.footer-center {
    text-align: center!important;
}
.footer-wide {
    letter-spacing: 4px;
}
.hover-text-green{
    color: white;
}
.hover-text-green:hover{
    color: aqua;
}
.footer-hide-large{
    float: center!important;
}
.footer-container{
    padding: 0.01em 16px;
}
.footer-round{
    border-radius: 5px;
}
.footer-right {
    float: right!important;
    margin-top: 20px;
}
.footer-right i{
    background-color: none;
    color: white;
}

.footer-xlarge {
    font-size: 24px!important;
}
.footer-round{
    border-radius: 4px;
}
.footer-button {
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: none;
    text-align: center;
    cursor: pointer;
}
.footer-button:hover {
    background-color: rgba(255, 255, 255, 0.59);
    
}
.footer-medium {
    font-size: 15px!important;
}
p {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    font-size: 15px;
}
.like-icon i{
    text-align: center;
    color: #ffffff;
}
.like-icon i:hover{
    color: #3a76ff;
}
.fa {
    font-size: 20px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 fontawesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
.like-xxlarge {
    font-size: 36px!important;
}
.footer-hover-text-green{
    color: #6da1e8;
}
.footer-hover-text-green:hover{
    color: aqua;
}

.w3-padding-32 {
    padding-top: 32px!important;
    padding-bottom: 32px!important;
}
.w3-container, .w3-panel {
    padding: 0.01em 16px;
}
.w3-white, .w3-hover-white:hover {
    color: #000!important;
    background-color: #fff!important;
}
.w3-margin-top {
    margin-top: 16px!important;
}
.w3-center {
    text-align: center!important;
}
.w3-wide {
    letter-spacing: 4px;
}


